*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: azure;
}
.header{
    position: relative;
    background-image: url(./images/nature.jpg);
    width: 100px;
    height: 100vh;
    background-size: cover;
}
/* .header:before{
    background: linear-gradient(black,black);
    opacity: 2;
    height: 100vh;
    width: 100%;
} */

.nav{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    width: 100%;
}
.toggle button{
    font-size: 2rem;
    margin-right: 20px;
    background: transparent;
    color: azure;
    font-weight: bold;
    -webkit-text-stroke: 0.1vw #323333;
}
.logo{
    width: 100px;
    font-size: 1.5rem;
    margin-left: 20px;
    text-decoration: none;
    color: azure;
    font-weight: bold;
   -webkit-text-stroke: 0.1vw #323333;

}
.header .content{
    position: absolute;
    top: 45vh;
    text-align: center;
    
}
.header .content h2{
    font-size: 4rem;
    line-height: 100px;
    color: azure;
    -webkit-text-stroke: 0.2vw #323333;
}

.header .content p{
    font-size: 2rem;
    width: 50%;
    margin: auto;
    font-size: 1rem;
    line-height: 30px;
    text-align-last: center;
    color: azure;
    -webkit-text-stroke: 0.0vw #323333;
}
button{
    margin-top: 20px;
    padding: 8px 20px;
    border: none;
    background-color: black;
    color: azure;
    font-size: 0.8rem;
    transition: 1s linear;
}
button:active{
    border: none;
    transform: scale(1.3);

}
/* about */
.container{
    height: 100vh;
    width: 100%;
    /* background-color: black; */
    position: relative;
}
.about{
    /* background-color: black; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
}
.about .contentbt{
    text-align: justify;
    margin-left: 200px;
    margin-right: 50px;
    color: azure;
}
.about .contentbt h2{
    line-height: 100px;
    font-size: 2rem;
}
.about .contentbt p{
    line-height: 20px;
}
.about .imge{
    margin-right: 100px;
}
.about .imgee{
    height: 80vh;
    width: 40vw;
}
.buttonabout{
    margin-top: 20px;
    padding: 8px 20px;
    border: none;
    background-color: black;
    color: azure;
    font-size: 0.8rem;
    transition: 1s linear;
    border: 1px solid white;
    margin-left: 150px;
}
.buttonabout:active{
    border: none;
    transform: scale(1.3);

}
/* .container */
.container2{
    height: 100vh;
    width: 100%;
    background-image: url(./images/banner2.jpg);
    background-size: cover;
    margin-top: 100px;

}
/* sevices section */
.services{
    height: 100vh;
    width: 100%;
    position: relative;
}
.container3{
    height: 100vh;
    width: 90%;
    margin: auto;
}
.top-services{
    margin-top: 200px;
    text-align: center;
    text-align-last: center;
}
.top-services h1{
    font-size: 2rem;
    line-height: 100px;
}
.top-services p{
    width: 80%;
    margin: auto;
    text-align-last: center;
    line-height: 25px;

}
.bottom-sevices{
    height: 100vh;
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-sevices .service .distination{
    height: 90vh;
}

.bottom-sevices .service .content3{
    margin-top: 50px;
    margin-left: 150px;
    line-height: 30px;
    font-size: 0.9rem;
    font-weight: none;
}
.bottom-sevices .service button{
    margin-top: 20px;
    padding: 8px 20px;
    border: none;
    background-color: black;
    color: azure;
    font-size: 0.8rem;
    transition: 1s linear;
    border: 1px solid white;
    position: absolute;
    right: 620px;
}
    /* end     */
    .end{
        background-image: url(./images/banner3.jpg);
        background-size: cover;
        height: 100vh;
        width: 100%;
        margin-top: 400px;
    }
    .end .logo{
        height: 95vh;
        width: 20%;
        font-size: 2rem;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

    }
    .content4{
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        color: rgb(75, 71, 71);
        font-size: 1rem;
    }
    .content4 span{
        color: azure;
        font-size: 1.5rem;
    }
    



